h1{
    text-align:  center;
}
header{
    margin-top: 50px;
    margin-bottom: 50px;
}
.grid-section-item{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1 rem;
    justify-items: center;
}
.grid-item{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    grid-gap: 1 rem;
    justify-items: center;
    width: 75%;
}